.top__event{
	height:70vh;
}
	.event__info{
		align-items: center;
		background:#e2e2e2;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding:1.5rem 5rem;
		color:#0f0f0f;
	}
		.event--buy{
			justify-self:end;
		}



.wrapper__event{
	display: grid;
	grid-template-columns:repeat(3,1fr);
	grid-gap:1rem;
	padding:3rem 10rem;
}
	.content{
		grid-column:1 / 3;
	}
	.content img{
		width:100%;
		margin:1rem 0;
		border-radius:.25rem;
	}
	.share{
		margin:2rem 0;
	}
		.share--social{
			font-size: 1.2rem;
			padding: .25rem;
			width: 32px;
			height: 32px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			background-clip: content-box;
			text-align: center;
		}
			.share--social i{
				background: #e2e2e2;
				color: #333;
				border-radius: 50%;
				padding:.5rem;
			}
			.twitter:hover{
				background: #1da1f2;
				color:white;}
			.facebook:hover{
				background: #3b5998;
				color:white;}
			.whatsapp:hover{
				background: #075e54;
				color:white;}
			.linkedin:hover{
				background: #0077b5;
				color:white;}
			.instagram:hover{
				background: #833ab4;
				color:white;}
			.envelope:hover{
				background: #ffa930;
				color:white;}
			.messenger:hover{
				background: #0084ff;
				color:white;}

	.sidebar{
		grid-column:3 / -1;
		padding-left:5rem;
	}
		.widget{
			margin-bottom:5rem;
		}
		.widget ul{
			padding-left:0;
		}
		.widget li{
			list-style-type:none;
		}
		.widget i{
			color: #333;
		}
		.widget h4{
			margin-top:0;
		}

.event__map{
	position:relative;
	display: grid;
	-ms-grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-column:1 / -1;
}
	.map{
	    grid-column:1 / -1;
	    overflow:hidden;
	    padding-bottom:56.25%;
	    position:relative;
	    height:0;
	}
	.map iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}
	.arrive{
		background:rgba(255,255,255, .85);
		height:100%;
		padding:3rem;
		position:absolute;
		right:0;
		text-align:center;
	}


@media (min-width: 768px) and (max-width: 1024px) {

}

@media (max-width: 768px) {
	.wrapper__event{
		padding:1rem;
	}
		.sidebar{
			padding-left:1rem;
		}

}

@media (max-width: 480px){
	.event__info{
		grid-template-columns: repeat(2, 1fr);
		padding:1rem;
		margin: 0 auto;
	}
	.content, .sidebar{
		grid-column:1 / -1;
	}
		.info--share{
			display: none;
		}
	.arrive{
		position: relative;
    	grid-column: 1 / -1;
    	padding: 0;
	}
/*	.wrapper__event{
		padding:1rem;
	}*/
}