.top__event{
	height:70vh;
}
	.event__info{
		align-items: center;
		background:#e2e2e2;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding:1.5rem 5rem;
		color:#0f0f0f;
	}
		.event--buy{
			justify-self:end;
		}



.wrapper__event{
	display: grid;
	grid-template-columns:repeat(3,1fr);
	grid-gap:1rem;
	padding:3rem 10rem;
}
	.content{
		grid-column:1 / 3;
	}
	.content img{
		margin:1rem 0;
		border-radius:.25rem;
	}
	.share{
		margin:2rem 0;
	}
		.share--social{
			background:#e2e2e2;
			font-size:1.2rem;
			color:white;
			padding:.5rem;
			border-radius:.25rem;
		}
	.sidebar{
		grid-column:3 / -1;
		padding-left:5rem;
	}
		.widget{
			margin-bottom:5rem;
		}
		.widget h4{
			margin-top:0;
		}

.event__map{
	position:relative;
	display: grid;
	-ms-grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-column:1 / -1;
}
	.map{
	    grid-column:1 / -1;
	    overflow:hidden;
	    padding-bottom:56.25%;
	    position:relative;
	    height:0;
	}
	.map iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}
	.arrive{
		background:rgba(255,255,255, .85);
		height:100%;
		padding:3rem;
		position:absolute;
		right:0;
		text-align:center;
	}
		.arrive .share--social{
			color:#333;
		}