body:after{
  background: white;
  content:'';
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  top:0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width:0;
}
body.open{
  overflow-x: hidden;
}
body.open:after{
  opacity:1;
  visibility:visible;
}
body{
	color: #888;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: 400;
}
a {
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;

}

a:hover{

}

/* button*/ 
.btn {
background: #fc4a1a;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(right, #fb983b, #fce121);
background: -o-linear-gradient(right, #fb983b, #fce121);
background: linear-gradient(to left, #fb983b, #fce121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-transition: all 0.3s ease 0s;
	border-radius: 1rem;
	border: none;
	display:inline-block;
	color: #001d3f;
	cursor: pointer;
	padding: .5rem 1.5rem;
    transition: all 0.3s ease 0s;		
	/*transition: .25s;*/
}

.btn:hover{

}

.bth:active{

}
	
	.btn--secondary{
		background: #fb983b;
		color:white;
	}
	.btn--info{
		background: transparent;
		color:#888;
		border-radius:0;
		border-bottom:2px solid #888;
	}
	.btn--outline{
		background: transparent;
		color:#888;
		border:1px solid #888;
	}

	.img__cover{
		object-fit:cover;
		width:100%;
		border-radius:10px;
		height:inherit;
	}

	.grid__title{
		grid-column:1 / -1;
	}

.small{
	font-size:.75rem;
}

/* +++++++++++++++++++
     header
+++++++++++++++++++++++*/
.top__header{
	background-image: linear-gradient(to right, #0071bc 0%, #001d3f 100%);
	display:grid;
	grid-template-columns: 1fr 1fr 60px;
	padding:.2rem 5rem;
	align-items: center;
}
	.top__header .links{
		color:white;
		padding:0 .5rem;
	}
.header--logo{
	width:200px;
}

.header--btn{
	background: #fce121;
	color: #001d3f !important;
}

/* +++++++++++++++++++
     navbar
+++++++++++++++++++++++*/
.nav{
  cursor:pointer;
  transition: all 0.4s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
  .nav span{
    display: block;
    width: 33px;
    cursor:pointer;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 6;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  .menu{
    background:rgba(0,0,0,0.8);
    height: 100%;
    position:absolute;
    right:0;
    top:0;
    width:20%;
    z-index:5;
    padding-top: 5rem;
    visibility:visible;
    opacity:0;
  }
    .menu:not(.open){
      visibility:hidden;
    }
  .menu li{
    color:white;
    list-style-type:none;
    padding:0;
    width:0;
    -webkit-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
    -webkit-transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    -o-transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  .menu li:first-child{
    padding-top: 2rem;
  }
  .menu.open{
    visibility:visible;
    opacity:1;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .menu.open li{
  	width:auto;
  	padding: 1rem;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  .menu li:not(.open){

  }

/*burger animation*/
  .nav.open span:first-of-type{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav.open span:nth-child(2){
    opacity:0;
  }
  .nav.open span:last-of-type{
    left: -2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

.nav--link{
  background: transparent;
  border-left: rgba(68, 68, 68, 0) solid 2px;
  color: #444444;
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.4s ease;
  width: auto;
}
/*************************
SLIDE ***********************/
.top__slide{
	background:#e2e2e2;
	padding:3rem 2rem;
}

	.carousel--cell{
		border-radius: 10px 10px 0 0;
		max-width:250px;
	}

	.event__date{
		background-blend-mode:multiply;
		background: rgba(0, 0, 0, .5);
		border-radius: 0 10px 0 10px;
		color: white;
		display:grid;
		justify-items:center;
		padding: .8rem;
		position:absolute;
		right:0;
		top:0;
		z-index: 2;
	}
		.event__date .fas{
			font-size:1rem;
			padding-top:1rem;
		}
		.date--day{
			font-size:1.75rem;
			line-height: .8;
		}
		.date--mon{
			font-size:.75rem;
		}



/* event calendar*/ 
.calendar{
	background:#e2e2e2;
	padding:3rem 5rem;
}
	.calendar__cat{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap:1.5rem 1rem;

	}
	
	.calendar__cell{
		background:white;
		border-radius:10px;
		position: relative;
		z-index:0;
		-webkit-box-shadow: 0 2px 0 #E8E8E8;
		box-shadow: 0 2px 0 #E8E8E8;
	}
		.calendar__title{
			grid-column:1 / -3;
		}
		.calendar__filter{
			grid-column: 3 / -1;
			justify-self:end;
			align-self:center;
		}
		.calendar__cell img{
			border-radius:10px 10px 0 0;
			height:250px;
		}
		.calendar--50{
			display:grid;
			grid-template-columns: repeat(2, 1fr);
			border-radius:10px;
		}	
			.calendar--50 p{
				font-size: .8rem;
			}
			.calendar--50 img{
				border-radius:10px 0 0 10px;
			}
			.calendar--one{
				grid-column: 1 / 3;
			}
			.calendar--two{
				grid-column: 3 / -1;
		}
	.calendar__post{
		padding:.5rem 1rem;
	}
	.calendar__post h3{
		margin-top:.85rem;
	}
		.post__date{
			font-size:.8rem;
			line-height:.5;
		}
			.post__date span{
				color:#fb983b;
				padding-right:.5rem;
			}
		.badge:before{
		  content: "";
		  z-index: -1;
		  overflow: hidden;
		  transform: rotate(-135deg);
		  width: 120px;
		  display: block; 
		  background: #79A70A;
		  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
		  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		  position: absolute;
		  top: 34px;
		  right: -16px;
		  clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px,  110px 30px);
		  height: 20px;
		  width: 120px;
		}
		.badge{

		}
		.badge:after{
		content: "gratis";
		z-index: 1;
		overflow: hidden;
		font-size: 10px;
		font-weight: bold;
		color: #FFF;
		text-transform: uppercase;
		text-align: center;
		line-height: 20px;
		transform: rotate(45deg);
		width: 120px;
		display: block; 
		background: #79A70A;
		background: linear-gradient(#9BC90D 0%, #79A70A 100%);
		box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
		position: absolute;
		top: 20px; right: -30px;
		clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px,  110px 30px)			
		}
/* +++++++++++++++++++
     FEATURE 
+++++++++++++++++++++++*/

.feature__slide{
	display: grid;
	grid-template-columns: 1fr 1fr; 
	width: 100%;
	height: 80vh;
	position: relative;
}
	.feature__event__img{
		grid-column: 1 / span 2;
		height:80vh;
	}

	.feature__event__info{
		align-self: end;
		background: -o-linear-gradient(top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
		background: -webkit-linear-gradient(top left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
		background: linear-gradient(to bottom right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.45) 100%);
		grid-column: 2 / 3;
		justify-self: end;
		padding: 5rem;
		position:absolute;
	}

		.feature__event__title{
			color: white;
			font-size: 3.2rem;
			font-weight: bold;
			margin: 2rem 0;
			text-align: right;
			text-shadow: 1px 1px 1px #454545;
		}

		.button_right{
			float: right;
		}

		.timer__coundown{
			color: white;
			display: block;
			margin: 1rem 0;
			text-align: right;
		}
			.timer__round{
				border-radius: 50%;
				border: .2rem solid white;
				box-shadow: 1px 1px 1px #454545;
				display: inline-block;
				font-size: 2rem;
				font-weight: bold;
				height: 52px;
				margin: .5rem;
				padding: 1rem;
				text-align: center;
				width: 50px;
			}
			.timer__label{
				display: block;
				font-size: .8rem;
				font-weight: 300;
			}

/* -- how buy tickets -- */
.how__buy{
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	padding-top:3rem;
	position:relative;
}
	.how__buy--tickets{
		max-width: 350px;
		padding-bottom: 25px;
		position:relative;
		text-align:center;
		cursor: pointer;
	}
		.buy__tickets{
			color: #fb983b;
			transition:all 0.5s ease-in-out;
		}
		.buy__tickets--text{
			color:#999;
			font-size:.8rem;
		}
		.how__buy--tickets:after{
		   background-color: #e2e2e2;
		   bottom:-8px;
		   border-radius: 50%;
		   border: 2px solid white;
		   content: '';
		   display: inline-block;
		   height: 10px;
		   position: absolute;
		   width: 10px;
		   transition:all 0.2s ease-in-out;
		}
		.how__buy--tickets:hover > .buy__tickets{
			position: relative;
			top: -10px;
			transition:all 0.5s ease-in-out;
		}
		.how__buy--tickets:hover:after{
			background:#fb983b;
		}

.events__featured{
	background: #e2e2e2;
	padding: 3rem 5rem;
}
	.events__featured i{
		color: rgba(51,51,51,0.5);
		font-weight: 400;
	}

.event__card{
	padding-bottom:3rem;
}

	.event__card--item{
		background:peru;
		width:45%;
		height:300px;
		border-radius:10px;
		margin-right: 1rem;
	}
		.event__card--slide{
			width:20%;
			margin-right:2rem;
		}

.cta{
	margin: 15vh auto;
	text-align:center;
}
/* partners */ 


/* +++++++++++++++++++
     pie de pagina
+++++++++++++++++++++++*/
.footer {
	background-image: linear-gradient(to right, #0071bc 0%, #001d3f 100%);
	color: white;
	padding: 2rem 5rem;
	}
	.footer h2 {
		color:white;
	}
	.footer ul {
		padding:0;
	}
	.footer li{
		list-style: none;
	}
	.footer a{
		color:white;
		text-decoration: none;
	}
	.footer__logo {
		width: 180px;
		height: auto;
	}
	.footer--grid{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-gap: 2rem;
		grid-template-areas: 
		"ticketeg__info ticketeg__info ticketeg__about ticketeg__contact" 
		"ticketeg__payments ticketeg__payments ticketeg__payments ticketeg__payments" 
		"ticketeg__copy ticketeg__copy ticketeg__copy ticketeg__copy"
	}

		@media (max-width: 480px) {
			.footer--grid{
				grid-template-columns: 1fr;
				grid-template-areas:
				"ticketeg__info"
				"ticketeg__about"
				"ticketeg__contact"
				"ticketeg__payments"
				"ticketeg__copy"
				;
			}
		}
	.ticketeg__info{
		grid-area: ticketeg__info
	}
	.ticketeg__about{
		grid-area: ticketeg__about
	}
	.ticketeg__contact{
		grid-area: ticketeg__contact
	}
	.ticketeg__social{
		grid-area: ticketeg__social
	}
	.ticketeg__payments{
		grid-area: ticketeg__payments;
		display: inline-block;
		text-align: center;
	}
	.ticketeg__payments i {
		margin: 0 0.5rem;
	}
	.ticketeg__copy{
		grid-area: ticketeg__copy;
		font-size: .75rem;
		text-align: center;
		font-style: italic;
	}


/* MEDIA */
@media (min-width: 768px) and (max-width: 1024px) {
.top__header{
	padding: .5rem 1rem;
}
.menu{
	width:50%;
}
	.calendar, .events__featured, .cta, .how__buy, .footer{
		padding: 2rem 1rem;
	}
	.feature__event__img img{
			width: 100%;
			height: 80vh;
			display: block;
		}

	.feature__event__info{
		background:  linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5));
		grid-column: 2 / 3;
		padding: 2.5rem;
	}
		.feature__event__title{
			font-size: 2.5rem;
		}
			.timer__round{
				font-size: 1.5rem;
				height: 35px;
				width: 35px;
				padding: .8rem
			}
			
}


/* Chooose event */ 
.choose__event{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 481px) and (max-width: 767px) {
.menu{
	width:50%;
}

	.calendar, .events__featured, .cta, .how__buy, .footer{
		padding: 2rem 1rem;
	}
	.event__card--slide{
		width:33%;
	}
.feature__slide{
	height: 100vh;
}
	.feature__event__img img{
			height: 100vh;
	}

	.feature__event__info{
		background:  linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5));
		grid-column: 1 / 3;
		justify-self: end;
		align-self: end;
		padding: 2rem;
	}
		.feature__event__title{
			font-size: 2rem;
			margin: 1rem 0;
		}
		.timer__coundown{
			margin: .5rem 0;
		}
			.timer__round{
				border: .1rem solid white;
				font-size: 1rem;
				height: 30px;
				margin: .2rem;
				padding: .5rem;
				width: 30px;
			}
  
}
@media (min-width: 320px) and (max-width: 480px){
.top__header{
	grid-template-columns: 1fr 60px;
	padding:.2rem;
}
	.header--logo{
		grid-column: 1 / span;
		justify-self: center;
	}
	.header--menu{
		display:none;
	}

.menu{
	width:100%;
}

.feature__slide{
	grid-template-columns: 1fr; 
	height: 100vh;
}
	.feature__event__img{
		grid-column: 1;
	}
		.feature__event__img img{;
			height: 100vh;
		}

	.feature__event__info{
		align-self: end;
		background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.9));
		grid-column: 1;
		padding: 1.5rem

	}
		.feature__event__title{
			font-size: 1.5rem;
		}
			.timer__round{
				border-radius: 0px;
				border: none;
				font-size: 1.5rem;
				height: 25px;
				padding: .5rem;
				width: 25px;
			}
	.how__buy{
		grid-template-columns: 1fr;
	}
	.events__featured{
		padding:0.5rem 1.5rem;
	}

	.event__card--item{
		width:60%;
	}

	.calendar{
		padding: 2rem 1rem;
	}
		.calendar__cat{
			grid-template-columns: 1fr 1fr;
		}
			.calendar--50{
				grid-template-columns: 1fr;
			}
				.calendar--50 img{
					border-radius:10px 10px 0 0;
				}
				.calendar--50 p{
					display:none;
				}
			.calendar--one{
				grid-column: 1 / 2
			}
			.calendar--two{
				grid-column: 2 / -1
			}
	.footer{
		padding:1rem;
	}
		.calendar__title, .calendar__filter{
			display:none;
		}
}